<section class="mountain">
  <div class="mountain-desc">
      <img src="../assets/images/Feb24_2019.jpg">
      <div class="h1-background">
          <h1>THAT WEST<br>COAST FEEL</h1>
      </div>
  </div>
</section>
<!--  circle  -->
<section class="circle">
  <div class="circle-col">
      <div class="innercircle">
          <div class="inntext">1000</div>
          <div class="unit">cm</div>
      </div>
      <h5 class="text">AVERAGE SNOWFALL</h5>
  </div>

  <div class="circle-col">
      <div class="innercircle">
          <div class="inntext">200</div>
      </div>
      <h5 class="text">SKIABLE ACRES</h5>
  </div>

  <div class="circle-col">
      <div class="innercircle">
          <div class="inntext">40</div>
      </div>
      <h5 class="text">MARKED RUNS</h5>
  </div>

  <div class="circle-col">
      <div class="innercircle">
          <div class="inntext">4</div>
      </div>
      <h5 class="text">TERRAIN PARKS</h5>
  </div>
</section>
