<footer>
  <div class="footerrow">
      <div class="footercol">
          <h3>STAY UP-TO-DATE</h3>
          <p class="getUP">Get Mt Seymour's weekly Seymour Rundown Newsletter with news, events, and great deals.
          </p>
          <br><br>
          <h4 class="signUp">SIGN ME UP<fa-icon class="arrow-right" [icon]="faRightFromBracket"></fa-icon></h4>
          <br><br><br><br>
          <div class="info">
              <p>Guest Services: 604-986-2261</p>
              <P class="email-id">Email: info&#64;mtseymour.ca</P>
              <p>1700 Mount Seymour Road, North Vancouver, BC Canada, V7G 1L3</p>
          </div>
          <br><br>
          <h6>Mt Seymour acknowledges that it operates on the unceded territory of the Coast Salish peoples,
              including the territories of the xʷməθkwəy̓əm (Musqueam), Skwxwú7mesh (Squamish), and
              Səl̓ílwəta/Selilwitulh (Tsleil-Waututh) Nations.</h6>
      </div>

      <div class="footercol">
          <img src="assets/images/MtSeymour_K_WHT_Logo.webp" class="footerlogo">
          <ul class="footerul">
              <li><a href="">CONTACT US</a></li>
              <li><a href="">TERMS & CONDITIONS</a></li>
              <li><a href="">MOUNTAIN SAFETY</a></li>
              <li><a href="">PRIVACY POLICY</a></li>
              <li><a href="">DRONE POLICY</a></li>
              <li><a href="">CLAIMS</a></li>
          </ul>
          <br><br><br>
          <div class="social-icons">
              <i class="bi bi-facebook"></i>
              <i class="bi bi-twitter"></i>
              <i class="bi bi-instagram"></i>
              <i class="bi bi-tiktok"></i>
          </div>
      </div>
  </div>
  <hr>
  <p class="copyright">© 2023 Mt Seymour's.<br>
      The content of this website is for ISpan class presentation practice and is not for commercial use. If there
      is any infringement, please inform us.</p>
</footer>
