<section class="maprow">
  <div class="mapcol">
      <div class="first"><img src="../../assets/images/Brockton Drone - Feb 21-2022.jpg">
          <a href="#">
              <div class="firsttext">FAQ'S<br><fa-icon class="arrow-right" [icon]="faArrowRight"></fa-icon></div>
          </a>
      </div>
      <div class="sec"></div>
  </div>
  <div class="mapcol2">
      <div class="first"><img src="../../assets/images/Yellow Shuttle Bus (1 of 1).jfif">
          <a href="#">
              <div class="firsttext">GETTING HERE<br><fa-icon class="arrow-right" [icon]="faArrowRight"></fa-icon></div>
          </a>
      </div>
      <div class="sec"></div>
  </div>
</section>
